DATABASE_URL=postgresql://postgres:typebot_local@typebot-db:5432/typebot

POSTGRES_DB=typebot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=typebot_local

ENCRYPTION_SECRET=COLE_AQUI_O_SEGREDO_GERADO

NODE_OPTIONS=--no-node-snapshot

NEXTAUTH_URL=http://localhost:8082
NEXT_PUBLIC_VIEWER_URL=http://localhost:8083

ADMIN_EMAIL=miguel@anoar.com.br

DISABLE_SIGNUP=false

SMTP_HOST=typebot-mail
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_IGNORE_TLS=true
SMTP_AUTH_DISABLED=false
NEXT_PUBLIC_SMTP_FROM="'Wapp Typebot' <typebot@wapp.local>"